<app-header></app-header>
<section id="mainBody">
  <mat-grid-list cols="3" rowHeight="4:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2">
      <p id="title">Learning Design pattern</p>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2">
      <p id="content">
        服务于企业级产品的设计体系，基于确定和自然的设计价值观上的模块化解决方案，让设计者和开发者专注于更好的用户体验。</p>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2">
      <button mat-raised-button color="primary" [routerLink]="['/blockly-learn']">开始学习</button>
    </mat-grid-tile>
  </mat-grid-list>
</section>
